@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  font-family: 'Noto Sans', sans-serif !important;
  color: #ffffff !important;
}

.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  color: #ffc92b !important;
}

.css-1aquho2-MuiTabs-indicator {
  background-color: #ffc92b !important;
}

.css-8x3pc-MuiNativeSelect-icon {
  top: calc(50% - 0.40em) !important;
}
